# Ignore compiled executable
create
play
lod
rock
model_test
validate_tiles
test


#annoying screenshot feature in raylib
screenshot*.png
# ignore folders
notes/
screenshot/*.png
map/chunk_*
map/*.png
map/manifest.txt
new_baked_asset/

# VSCode settings
.vscode/

# OS & misc clutter
*.DS_Store
*.swp
*~

# Object files and build artifacts
*.o
*.obj
*.out
*.log

# Backup files
*.bak
*.tmp

# CMake or build system artifacts (if any)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
